server {
    listen ${ACCESS_PORT};
    root /var/www/public;

    location /hill_climbing {
        proxy_set_header Authorization ${HILL_CLIMBING_SOLVER_KEY};
        proxy_pass ${HILL_CLIMBING_SOLVER_LINK};
        proxy_pass_request_headers on;
        proxy_pass_request_body on;
    }
}