# python cache folder.
__pycache__

# all dependencies file.
general_solvers_functions_container/requirements/all.txt
genetic_algorithm_solver_container/requirements/all.txt
hill_climbing_solver_container/requirements/all.txt

# vscode workspace file.
*.code-workspace

# vscode devcontainer and general setups.
*.devcontainer
*.vscode

# nodejs modules.
node_modules

# nodejs unnecessary files
package-lock.json

# specific exceptions of vscode development files.
!general_solvers_functions_container/vscode/*
!genetic_algorithm_solver_container/vscode/*
!hill_climbing_solver_container/vscode/*
!vscode/*

# env files.
*.env

# specific env files needed in repository.
!env_files/*
