# Black list.

# Uneeded specific files.
requirements/development.txt
requirements/flv_all.txt
requirements/raw_all.txt

# Unneeded directories.
.devcontainer
.vscode

# Unneeded files.
*.code-workspace
*.dockerignore
*.Dockerfile
*.md