# Black list.

# Uneeded specific files.
package-lock.json

*.code-workspace
# Unneeded directories.
.devcontainer
node_modules
.vscode

# Unneeded files.
*.code-workspace
*.dockerignore
*.Dockerfile
*.md